/** @format */

body {
  background-color: rgb(43, 41, 51);
}
.App {
  text-align: center;
  color: white;
}
.title {
  margin-top: 70px;
  margin-bottom: 70px;
}
.pokemon-list {
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
.pokemon-card-tilt {
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  min-height: 600px;
  width: 500px;
  /* transform-style: preserve-3d; */
  /* background-color: rgb(33, 31, 41); */
  background-image: linear-gradient(rgb(33, 31, 41) 73%, rgb(0, 0, 0));
  /* display: flex; */
}

.card-container {
  margin: 30px;
}
.card-frame {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px black;
}
.pokemon-card {
  /* color: white; */
  /* background-color: gray; */
  /* transform: translateZ(100px) scale(0.75); */
  margin: auto;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  min-height: 700px;
  width: 500px;
  /* transform-style: preserve-3d; */
  /* background-color: rgb(33, 31, 41); */
  background-image: linear-gradient(rgb(33, 31, 41) 73%, rgb(0, 0, 0));
  box-shadow: 0px 0px 10px 0px black;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
}

.pokemon-image {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.pokemon-text-container {
  font-size: 24px;
  text-align: left;
}
.pokemon-number {
  float: right;
}
.pixelated {
  image-rendering: pixelated;
}
